<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="CGMConnection2" connectionString="Data Source=CGM-DATA02;Initial Catalog=LABETT;" providerName="System.Data.SqlClient" />
      <add name="CGMConnection" connectionString="Data Source=CGM-DATA01\CGMSQL; Initial Catalog = LABETT;" providerName="System.Data.SqlClient" />
      <add name="ExchangeDBConnection" connectionString="Data Source=CGM-DATA01\CGMSQL;Initial Catalog=FNC;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>
    <add key="Bactec_chat" value="-648131267" />
  </appSettings>
</configuration>